/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Prompt', sans-serif; background: linear-gradient(90deg, rgba(207,0,213,1) 0%, rgba(255,114,202,1) 49%, rgba(0,212,255,1) 100%);
}
* {
  overflow: hidden;
}
